@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}
#mainContainer{
    width: 60%;
    margin: 2% auto;
}

.commonContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

#firstContainer{
    height: 3rem;
    align-items: flex-end;
}

.inputContainer{
    width: 65%;
}

.labelText{
    display: block;
    color: rgb(158, 158, 158);
    font-size: 14px;
}

#inputElement{
    width: 100%;
}

.submitContainer{
    width: 30%;
}

#fewButton{
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#nameValueList{
    margin-top: 0px;
    height: 20rem;
    border: 1px solid black;
    list-style-type: none;
    padding-left: 3%;
    overflow-y: scroll;
}

pre {
    white-space: pre-wrap; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}